node_modules/**/*
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env

.env

# macOS
.DS_Store

aps_development.cer
.env

dist/
.env.example
DEVELOPER_GUIDE.md
LAUNCH_GUIDE.md
patches/
